@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat:no-repeat;
}

.header-right {
    display: none;
}

.navbar-item {
    color: #000000;
    padding: 10px;
}

.navbar-item:hover {
    color: #58d5f7;
    text-decoration: none;
}

.hero-background {
    overflow: hidden;
    position: relative;
    padding: 10px;
    /* background: -webkit-linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: -webkit-radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235)); */
    
}

#initiate-recording{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(180%) translateX(-50%);
}

#about-us-img{
    width: 100%;
    height: 100%;
}

#add-new-details{
    text-align: center;
}

#patient-details{
    text-align: left;
}

/* .ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
} */
.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}
.card,.toast,.btn,.btn-large,.btn-small,.btn-floating,.dropdown-content,.collapsible,.sidenav{-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2)}
.card-image,.card.medium .card-image,.card.large .card-image{max-height:60%;overflow:hidden}.card.small .card-image+.card-content,.card.medium .card-image+.card-content,.card.large .card-image+.card-content{max-height:40%}.card.small .card-content,.card.medium .card-content,.card.large .card-content{max-height:100%;overflow:hidden}.card.small .card-action,.card.medium .card-action,.card.large .card-action{position:absolute;bottom:0;left:0;right:0}.card.small{height:300px}.card.medium{height:400px}.card.large{height:500px}.card.horizontal{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.card.horizontal.small .card-image,.card.horizontal.medium .card-image,.card.horizontal.large .card-image{height:100%;max-height:none;overflow:visible}.card.horizontal.small .card-image img,.card.horizontal.medium .card-image img,.card.horizontal.large .card-image img{height:100%}.card.horizontal .card-image{max-width:50%}.card.horizontal .card-image img{border-radius:2px 0 0 2px;max-width:100%;width:auto}.card.horizontal .card-stacked{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;position:relative}.card.horizontal .card-stacked .card-content{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}.card.sticky-action .card-action{z-index:2}.card.sticky-action .card-reveal{z-index:1;padding-bottom:64px}.card .card-image{position:relative}.card .card-image img{display:block;border-radius:2px 2px 0 0;position:relative;left:0;right:0;top:0;bottom:0;width:100%}.card .card-image .card-title{color:#000;position:absolute;bottom:0;left:0;max-width:100%;padding:24px}.card .card-content{padding:24px;border-radius:0 0 2px 2px}.card .card-content p{margin:0}.card .card-content .card-title{display:block;line-height:32px;margin-bottom:8px}.card .card-content .card-title i{line-height:32px}.card .card-action{background-color:inherit;border-top:1px solid rgba(160,160,160,0.2);position:relative;padding:16px 24px}.card .card-action:last-child{border-radius:0 0 2px 2px}.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){color:#ffab40;margin-right:24px;-webkit-transition:color .3s ease;transition:color .3s ease;text-transform:uppercase}.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{color:#ffd8a6}.card .card-reveal{padding:24px;position:absolute;background-color:#fff;width:100%;overflow-y:auto;left:0;top:100%;height:100%;z-index:3;display:none}.card .card-reveal .card-title{cursor:pointer;display:block}#toast-container{display:block;position:fixed;z-index:10000}@media only screen and (max-width: 600px){#toast-container{min-width:100%;bottom:0%}}@media only screen and (min-width: 601px) and (max-width: 992px){#toast-container{left:5%;bottom:7%;max-width:90%}}@media only screen and (min-width: 993px){#toast-container{top:10%;right:7%;max-width:86%}}.toast{border-radius:2px;top:35px;width:auto;margin-top:10px;position:relative;max-width:100%;height:auto;min-height:48px;line-height:1.5em;background-color:#323232;padding:10px 25px;font-size:1.1rem;font-weight:300;color:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;cursor:default}
.bold {
    font-weight: 600;
}

.light {
    font-weight: 300;
}

.header {
    padding-top: 35px;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 999;
}

.logo {
    max-width: 80px;
    max-height: 60px;
    margin-top: 0px;
    width: auto;
    height: auto;
}

.header-btn {
    background-color: #0ABCEB;
    border-radius: 10px;
    border: #0ABCEB;
    float: right;
    width: 195px;
    height: 51px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: -10px;
}

.header-btn:hover {
    background-color: #58d5f7;
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    -moz-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
}

.hero {
    background-image: url("../images/doctor.jpg");
    height: 100%;
    background-position: center;
    background-repeat:no-repeat;
    position: relative;
    z-index: 999;
    padding: 60px;
}

.mouse {
    position: absolute;
    left: 0;
    right: 0;
    top: 85%;
    margin: auto;
    padding-bottom: 40px;
    text-align: center;
    cursor: pointer;
    transition: transform .4s ease;
}

.mouse:hover {
    transform: translateY(5px);
}

.macbook {
    margin: auto;
    padding-bottom: 35px;
}

.hero-right {
    color: #000;
    text-align: center;
}

.ipad {
    display: none;
}

.ipad-screen {
    display: none;
}

.hero-btn {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #25F18B;
    border-radius: 10px;
    border: 1px solid #25F18B;
    width: 210px;
    height: 51px;
    color: white;
    margin: 30px auto;
}

.hero-btn:hover {
    background-color: #6affb4;
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    -moz-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
}

.header-headline {
    padding-top: 0;
    padding-bottom: 15px;
    text-align: center;
}

.header-running-text {
    text-align: center;
    max-width: 287px;
    line-height: 1.5;
    margin: auto;
}

.logos-section {
    background-color: #F9FAFA;
    text-align: center;
}

.logos {
    padding: 30px;
    /* max-width: 100%; */
}

.features-section {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
    padding-bottom: 90px;
    position: relative;
}

.features-headline {
    color: white;
    padding-bottom: 30px;
}

.features-container {
    max-width: 830px;
    margin: auto;
}

.feature {
    text-align: center;
    padding: 30px;
}

.feature-no-display {
    opacity: 0;
    -webkit-transform: translateY(15%) translateZ(0);
    -moz-transform: translateY(15%) translateZ(0);
    transform: translateY(15%) translateZ(0);
    -webkit-transition: -webkit-transform 0.4s ease-out, opacity 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease-out, opacity 0.4s ease;
    -o-transition: -o-transform 0.4s ease-out, opacity 0.4s ease;
    transition: transform 0.4s ease-out, opacity 0.4s ease;
}

.feature-display {
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
    -moz-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}

.feature-display-first-mid {
    transition-delay: 0.15s;
}

.feature-display-second-mid {
    transition-delay: 0.30s;
}

.feature-display-last {
    transition-delay: 0.45s;
}

.feature-icon {
    background-color: white;
    border-radius: 50%;
    height: 5.625em;
    width: 5.625em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 4px 14px 28px #393939;
}

.feature-head-text {
    color: white;
    padding-top: 15px;
}

.feature-subtext {
    color: white;
    padding-top: 0;
}

.feature-img {
    max-width: 23px;
}

.white-section {
    max-width: 1400px;
    margin: auto;
    overflow: hidden;

}

.white-section-text {
    text-align: center;
}

.imac {
}

.imac-section-header {
    padding-bottom: 35px;
}

.imac-section-desc {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    max-width: 400px;
    margin: auto;
    padding-bottom: 40px;
}

.imac-screen {
    padding-top: 60px;
    padding-bottom: 40px;
}

.macbook {
    position: relative;
    z-index: 999;
}

.pricing-background {
    background-color: #F8F9F9;
}

.pricing-section-header {
    padding-top: 75px;
}

.pricing-section-sub {
    padding-top: 10px;
    color: grey;
}

.pricing-table {
    padding: 0 0 100px;
    max-width: 1050px;
    margin: auto;
}

.plan {
    text-align: center;
    max-width: 390px;
    margin: auto;
    height: 430px;
    padding: 36px 15px 45px;
    position: relative;
}

.mid-plan {
    text-align: center;
    max-width: 390px;
    margin: auto;
    height: 430px;
    padding: 36px 15px 45px;
    position: relative;
    box-shadow: 5px 8.7px 40px rgba(99, 117, 138, 0.3);
    border-radius: 7px;
}

ul {
    list-style-type: none;
}

.plan li {
    position: relative;
}

.plan li::before, .mid-plan li:before {
    font-family: Material Icons;
    content: "check";
    color: #3aeb8c;
    position: absolute;
    left: -10px;
    position: relative;

}

.plan-title {
    font-size: 18px;
    padding-bottom: 5px;
}

.plan-cost {
    font-size: 45px;
}

.plan-cost::before {
    content: "$";
}

.monthly {
    font-size: 12px;
    padding-bottom: 20px;
}

.plan-features {
    -webkit-padding-start: 0;
}

.plan-btn {
    background-color: #0ABCEB;
    border-radius: 10px;
    border: #0ABCEB;
    width: 164px;
    height: 51px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: block;
    padding: 15px;
    margin: auto;
    position: absolute;
    left: calc(50% - 82px);
    bottom: 50px;
}

.plan-btn:hover {
    background-color: #58d5f7;
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    -moz-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
}

.team {
    padding-bottom: 0px;
    padding-top: 40px;
    background-color: #ffd8a6;
}

.team-container {
    text-align: center;
    margin: auto;
    max-width: 920px;
}

.team-section-header {
    padding-bottom: 90px;
}

.team-member {
    text-align: center;
    padding-bottom: 60px;
}

.team-member-position {
    color: #747474;
}

.team-member-text {
    padding-top: 25px;
}

.team-social-icon {
    padding: 7px;
}

.blue-section {
    background-color: #0ABCEB;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

.blue-section-subtext {
    max-width: 200px;
    max-width: 250px;
    line-height: 22px;
    font-size: 15px;
    margin: auto;
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #fff;
    width: 210px;
    height: 51px;
    color: #808080;
    margin-top: 20px;
    border: none;
}

.submit-btn {
    background-color: #25F18B;
    border-radius: 10px;
    color: #fff;
    height: 51px;
    width: 120px;
    margin-top: 20px;
    margin-left: 3px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.submit-btn:hover {
    background-color: #6affb4;
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    -moz-box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
    box-shadow: -1px 9px 46px -17px rgba(43, 43, 43, 1);
}

#newsletter-spinner {
    display: none;
}

.email-form-div {
    max-width: 60px;
    margin: auto;
}

.footer {
    background-color: #464646;
    padding-top: 20px;
    padding-bottom: 20px;
}

.webscope-text {
    color: white;
    font-size: 12px;
    padding-right: 7px;
}

.webscope {
    text-align: center;
    margin-top: -5px;
}

.social-links {
    float: none;
    text-align: center;
    padding-top: 10px;
}

.social-link {
    margin-right: 15px;
}

.strips {
    position: absolute;
    max-width: 1280px;
}
